.imagesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: inherit;
}

.imageWrapper {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-content: center;
  justify-content: center;
}

.worldImage {
  z-index: -1;
  max-height: 500px;
  max-width: 500px;
  opacity: 0;
}

.reactIcon {
  z-index: -1;
  max-height: 500px;
  max-width: 500px;
  transform: translate(5px, 5px) scale(5.8);
  opacity: 0;
}

/* animated classes */
/* initial animation */
.shrink {
  animation: shrink 1.5s ease 3s 1 forwards;
}

.fadeInThenOut {
  animation: fade-in 1.5s ease 1.5s 2 alternate forwards;
}

.fadeInDelay {
  animation: fade-in 1.5s ease 3s 1 forwards;
}

/* spinning icon */
.spinningIcon {
  z-index: -1;
  max-height: 500px;
  max-width: 500px;
  opacity: 0.5;
}

.rot90 {
  animation: rot90 2s linear 1 forwards;
}

.rot360 {
  animation: rot360 2s linear 1 forwards;
}

/* animations */
/* initial animation */
@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.15);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

/* spinning icon */
@keyframes spin3d {
  from {
    transform: translate(5px, 5px) scale(5.8) rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: translate(5px, 5px) scale(5.8) rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes rot90 {
  from {
    transform: translate(5px, 5px) scale(5.8) rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: translate(5px, 5px) scale(5.8) rotate3d(0, 1, 0, 90deg);
  }
}

@keyframes rot360 {
  from {
    transform: translate(5px, 5px) scale(5.8) rotate3d(0, 1, 0, 270deg);
  }
  to {
    transform: translate(5px, 5px) scale(5.8) rotate3d(0, 1, 0, 360deg);
  }
}
