.bauble {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: 50% 45%;
  opacity: 0;
  z-index: -1;
  animation-name: partial-fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes partial-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
