.outerWrapper {
  position: absolute;
  left: 0;
  top: 28px;
  height: calc(100% - 28px);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 50%;
  max-width: 762px;
  padding-left: 10px;
  padding-right: 10px;
}

.fadeIn {
  animation: fade-in 3s ease 1 forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
