.fullCard {
  position: absolute;
  top: 25%;
  left: 150px;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  max-height: calc(75% - 40px);
  overflow: scroll;
  padding: 20px;
}

.githubIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 1150px) {
  .fullCard {
    display: none;
  }
}
