.fullCard {
  position: absolute;
  top: 25%;
  left: 150px;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  max-height: calc(75% - 40px);
  overflow: scroll;
  padding: 20px;
}

.partialCard {
  display: none;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.githubIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 768px) {
  .fullCard {
    display: none;
  }

  .partialCard {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 150px;
    max-width: 80%;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 600px) {
  .fullCard {
    display: none;
  }

  .partialCard {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 20px;
    max-width: 80%;
    overflow-wrap: break-word;
  }
}
