.screenContainer {
  position: absolute;
  top: 300vh;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon {
  height: 50px;
  width: 50px;
}

.footer {
  width: 100%;
  position: absolute;
  top: calc(300vh + 150px);
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.attribList {
  list-style-type: none;
  width: 100%;
  margin-left: -6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.attribList li {
  font-size: 12px;
}

.tinyIcon {
  width: 16px;
  height: 16px;
}

/* if the screen height is 650px or less, the about screen will be 650px
tall, so adjust the positioning of the projects screen accordingly */
@media screen and (max-height: 650px) {
  .screenContainer {
    top: calc(100vh + 1300px);
  }
  .footer {
    top: calc(100vh + 1450px);
  }
}

/* if the screen height is 650px or less, the about screen will be 650px
tall, so adjust the positioning of the projects screen accordingly */
@media screen and (max-width: 600px) {
  .attribList {
    margin-left: -8%;
  }
  .attribList li {
    font-size: 9px;
  }
}
