/* Import Space Mono font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  font-family: "Space Mono", monospace;
  -ms-overflow-style: none; /*hide scrollbar in IE and edge*/
  scrollbar-width: none; /*hide scrollbar in firefox */
}

/* global classes */
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.lightMode {
  background-color: white;
  color: black;
}

.darkMode {
  background-color: #121212;
  color: white;
}

.lightModeText {
  color: black;
}

.darkModeText {
  color: white;
}

.lightModeHighlight:hover {
  background-color: #3297fd;
  color: white;
}

.darkModeHighlight:hover {
  background-color: #f1e740;
  color: #121212;
}

.selectedLM {
  background-color: #3297fd;
  color: white;
}

.selectedDM {
  background-color: #f1e740;
  color: #121212;
}

/* hide scrollbar in chrome */
::-webkit-scrollbar {
  display: none;
}
