/* Import Space Mono font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  font-family: "Space Mono", monospace;
}

/* global classes */
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.lightMode {
  background-color: white;
  color: black;
}

.darkMode {
  background-color: #121212;
  color: white;
}

.lightModeText {
  color: black;
}

.darkModeText {
  color: white;
}

.lightModeHighlight:hover {
  background-color: #3297fd;
  color: white;
}

.darkModeHighlight:hover {
  background-color: #f1e740;
  color: #121212;
}

.selectedLM {
  background-color: #3297fd;
  color: white;
}

.selectedDM {
  background-color: #f1e740;
  color: #121212;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
